body {
  font-family: monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  padding: 15px;
  color: black;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url(file:///C:/Users/kelse/Desktop/creature-hub/img/Square%20Background%20Pattern.svg);
  background-position: center center;
}

header {
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 100px 0 30px 0;
  font-size: 40px;
  font-weight: 600;
}

main {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

/* POKEMON LIST STYLING START */
.content-container {
  background-color: rgba(247, 37, 37, 0.5);
  margin: 0px 200px;
  display: block;
}

.pokemon-list {
  text-align: center;
  text-decoration: none;
  padding: 40px;
  list-style: none;
}

li {
  padding: 15px 0px;
}

/* these are the individual pokemon buttons, including content within */
.btn {
  border: 2px solid black;
  height: 50px;
  width: 150px;
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.btn:hover {
  border-color: white;
  background-color: rgb(89, 63, 218);
  color: white;
  height: 60px;
  width: 160px;
}

/* POKEMON LIST STYLING END */
.modal img {
  width: 150px;
  height: 150px;
  justify-self: center;
}

.sourcing {
  opacity: 30%;
  font-size: 12px;
}

a {
  display: block;
}

@media all and (min-width: 200px) and (max-width: 275px) {
  .btn:hover {
    height: 50px;
    width: 100px;
  }
}

@media all and (max-width: 750px) {
  body {
    font-size: 18px;
  }
  header {
    font-size: 36px;
  }
  .content-container {
    margin: 0px 50px;
  }
  .btn {
    width: 120px;
  }
}
